<div mat-card-avatar class="component-cards-item" shadow>
  <div class="text-height">
    <p red>{{ user.name | CustomUpperCase }}</p>
    <p red>{{ user.email | CustomUpperCase }}</p>
    <p red>{{ user.website | CustomUpperCase }}</p>
    <p red>{{ user.company.name }}</p>
    <p red>{{ user.phone | phone }}</p>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="more-vert-position">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openEditDialog()">
      <mat-icon>edit</mat-icon>
      <span>Редактировать</span>
    </button>
    <button mat-menu-item (click)="openDeleteDialog()">
      <mat-icon>delete</mat-icon>
      <span>Удалить</span>
    </button>
  </mat-menu>
</div>
