<!--Популярные товары-->
<div class="popular-product">
  <div class="popular-product-item">
    <div class="looking-product">
      <div class="title-color">Популярные товары</div>
      <div class="looking-all-product">Посмотреть все товары</div>
    </div>
    <button class="arrow-button left">
      <img
        class="popular-arrow-left"
        src="/assets/popular-card-arrow-left.png"
        alt="стрелка влево"
      />
    </button>
    <button class="arrow-button right">
      <img
        class="popular-arrow-right"
        src="/assets/popular-card-arrow-left.png"
        alt="стрелка вправо"
      />
    </button>
    <div class="popular-card-product">
      <!--Первая карта-->
      <div class="popular-card">
        <div class="disk-icon">
          <div class="discount-and-favorites">
            <img src="/assets/discount-logo-card.svg" alt="логотип скидки" />
            <img
              src="/assets/favorite-logo-card.svg"
              alt="логотип избранного"
            />
          </div>
        </div>
        <div class="popular-card-info">
          <div>
            <div class="product-name">Круг зачистной 125х6х22</div>
            <div class="articul-product">Артикул 00004</div>
          </div>
          <div class="product-price">
            <span class="price-per-peice">Цена за штуку</span>
            <div class="product-price-align">
              <div class="product-full-price"><del>52 руб.</del></div>
              <div class="product-discount-price">48 руб.</div>
            </div>
          </div>
          <div class="quantity-and-basket">
            <div class="quantity-popular-product">
              <div>Количество</div>
              <div class="quantity-product">
                <button class="count-regulator">-</button>
                <div class="count-product">1</div>
                <button class="count-regulator">+</button>
              </div>
            </div>
            <button class="product-basket">В корзину</button>
          </div>
        </div>
      </div>
      <!--Вторая карта-->
      <div class="popular-card">
        <div class="disk-icon">
          <div class="discount-and-favorites">
            <img src="/assets/discount-logo-card.svg" alt="логотип скидки" />
            <img
              src="/assets/favorite-logo-card.svg"
              alt="логотип избранного"
            />
          </div>
        </div>
        <div class="popular-card-info">
          <div>
            <div class="product-name">Круг зачистной 125х6х22</div>
            <div class="articul-product">Артикул 00004</div>
          </div>
          <div class="product-price">
            <span class="price-per-peice">Цена за штуку</span>
            <div class="product-price-align">
              <div class="product-full-price"><del>52 руб.</del></div>
              <div class="product-discount-price">48 руб.</div>
            </div>
          </div>
          <div class="quantity-and-basket">
            <div class="quantity-popular-product">
              <div>Количество</div>
              <div class="quantity-product">
                <button class="count-regulator">-</button>
                <div class="count-product">1</div>
                <button class="count-regulator">+</button>
              </div>
            </div>
            <button class="product-basket">В корзину</button>
          </div>
        </div>
      </div>
      <!--Третья карта-->
      <div class="popular-card">
        <div class="disk-icon">
          <div class="discount-and-favorites">
            <img src="/assets/new-logo-card.svg" alt="логотип новинка" />
            <img
              class="discount-logo-position"
              src="/assets/discount-logo-card.svg"
              alt="логотип скидки"
            />
            <img
              src="/assets/favorite-logo-card.svg"
              alt="логотип избранного"
            />
          </div>
        </div>
        <div class="popular-card-info">
          <div>
            <div class="product-name">Круг зачистной 125х6х22</div>
            <div class="articul-product">Артикул 00004</div>
          </div>
          <div class="product-price">
            <span class="price-per-peice">Цена за штуку</span>
            <div class="product-price-align">
              <div class="product-full-price"><del>52 руб.</del></div>
              <div class="product-discount-price">48 руб.</div>
            </div>
          </div>
          <div class="quantity-and-basket">
            <div class="quantity-popular-product">
              <div>Количество</div>
              <div class="quantity-product">
                <button class="count-regulator">-</button>
                <div class="count-product">1</div>
                <button class="count-regulator">+</button>
              </div>
            </div>
            <button class="product-basket">В корзину</button>
          </div>
        </div>
      </div>
      <!--Четвертая карта-->
      <div class="popular-card">
        <div class="disk-icon">
          <div class="discount-and-favorites">
            <img src="/assets/new-logo-card.svg" alt="логотип новинка" />
            <img
              src="/assets/favorite-logo-card.svg"
              alt="логотип избранного"
            />
          </div>
        </div>
        <div class="popular-card-info">
          <div>
            <div class="product-name">Круг зачистной 125х6х22</div>
            <div class="articul-product">Артикул 00004</div>
          </div>
          <div class="product-price">
            <span class="price-per-peice">Цена за штуку</span>
            <div class="product-price-align">
              <div class="product-discount-price">52 руб.</div>
            </div>
          </div>
          <div class="quantity-and-basket">
            <div class="quantity-popular-product">
              <div>Количество</div>
              <div class="quantity-product">
                <button class="count-regulator">-</button>
                <div class="count-product">1</div>
                <button class="count-regulator">+</button>
              </div>
            </div>
            <button class="product-basket">В корзину</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Рекламная информация-->

<div class="advertising-text">
  <div class="advertising-block">
    <div class="advertising-container">
      <div>
        <div class="advertising-text-1">БОЛЕЕ 10 000 НАИМЕНОВАНИЙ</div>
        <span class="advertising-text-2"
          >Инструмент для вашего бизнеса, разнообразных марок</span
        >
      </div>
      <button class="advertising-text-3">Перейти в каталог</button>
    </div>
    <div>
      <img
        class="advertising-man"
        src="/assets/advertising-man.png"
        alt="фото части тела строителя"
      />
    </div>
  </div>
</div>

<!--Новинки-->

<div class="popular-product">
  <div class="popular-product-item">
    <div class="looking-product">
      <div class="title-color">Новинки</div>
      <div class="looking-all-product">Посмотреть все товары</div>
    </div>
    <button class="arrow-button left">
      <img
        class="popular-arrow-left"
        src="/assets/popular-card-arrow-left.png"
        alt="стрелка влево"
      />
    </button>
    <button class="arrow-button right">
      <img
        class="popular-arrow-right"
        src="/assets/popular-card-arrow-left.png"
        alt="стрелка вправо"
      />
    </button>
    <div class="popular-card-product">
      <!--Первая карта-->
      <div class="popular-card">
        <div class="disk-icon">
          <div class="discount-and-favorites">
            <img src="/assets/new-logo-card.svg" alt="логотип новинка" />
            <img
              src="/assets/favorite-logo-card.svg"
              alt="логотип избранного"
            />
          </div>
        </div>
        <div class="popular-card-info">
          <div>
            <div class="product-name">Круг зачистной 125х6х22</div>
            <div class="articul-product">Артикул 00004</div>
          </div>
          <div class="product-price">
            <span class="price-per-peice">Цена за штуку</span>
            <div class="product-price-align">
              <div class="product-discount-price">52 руб.</div>
            </div>
          </div>
          <div class="quantity-and-basket">
            <div class="quantity-popular-product">
              <div>Количество</div>
              <div class="quantity-product">
                <button class="count-regulator">-</button>
                <div class="count-product">1</div>
                <button class="count-regulator">+</button>
              </div>
            </div>
            <button class="product-basket">В корзину</button>
          </div>
        </div>
      </div>
      <!--Вторая карта-->
      <div class="popular-card">
        <div class="disk-icon">
          <div class="discount-and-favorites">
            <img src="/assets/new-logo-card.svg" alt="логотип новинка" />
            <img
              src="/assets/favorite-logo-card.svg"
              alt="логотип избранного"
            />
          </div>
        </div>
        <div class="popular-card-info">
          <div>
            <div class="product-name">Круг зачистной 125х6х22</div>
            <div class="articul-product">Артикул 00004</div>
          </div>
          <div class="product-price">
            <span class="price-per-peice">Цена за штуку</span>
            <div class="product-price-align">
              <div class="product-discount-price">52 руб.</div>
            </div>
          </div>
          <div class="quantity-and-basket">
            <div class="quantity-popular-product">
              <div>Количество</div>
              <div class="quantity-product">
                <button class="count-regulator">-</button>
                <div class="count-product">1</div>
                <button class="count-regulator">+</button>
              </div>
            </div>
            <button class="product-basket">В корзину</button>
          </div>
        </div>
      </div>
      <!--Третья карта-->
      <div class="popular-card">
        <div class="disk-icon">
          <div class="discount-and-favorites">
            <img src="/assets/new-logo-card.svg" alt="логотип новинка" />
            <img
              src="/assets/favorite-logo-card.svg"
              alt="логотип избранного"
            />
          </div>
        </div>
        <div class="popular-card-info">
          <div>
            <div class="product-name">Круг зачистной 125х6х22</div>
            <div class="articul-product">Артикул 00004</div>
          </div>
          <div class="product-price">
            <span class="price-per-peice">Цена за штуку</span>
            <div class="product-price-align">
              <div class="product-discount-price">52 руб.</div>
            </div>
          </div>
          <div class="quantity-and-basket">
            <div class="quantity-popular-product">
              <div>Количество</div>
              <div class="quantity-product">
                <button class="count-regulator">-</button>
                <div class="count-product">1</div>
                <button class="count-regulator">+</button>
              </div>
            </div>
            <button class="product-basket">В корзину</button>
          </div>
        </div>
      </div>
      <!--Четвертая карта-->
      <div class="popular-card">
        <div class="disk-icon">
          <div class="discount-and-favorites">
            <img src="/assets/new-logo-card.svg" alt="логотип новинка" />
            <img
              src="/assets/favorite-logo-card.svg"
              alt="логотип избранного"
            />
          </div>
        </div>
        <div class="popular-card-info">
          <div>
            <div class="product-name">Круг зачистной 125х6х22</div>
            <div class="articul-product">Артикул 00004</div>
          </div>
          <div class="product-price">
            <span class="price-per-peice">Цена за штуку</span>
            <div class="product-price-align">
              <div class="product-discount-price">52 руб.</div>
            </div>
          </div>
          <div class="quantity-and-basket">
            <div class="quantity-popular-product">
              <div>Количество</div>
              <div class="quantity-product">
                <button class="count-regulator">-</button>
                <div class="count-product">1</div>
                <button class="count-regulator">+</button>
              </div>
            </div>
            <button class="product-basket">В корзину</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
