<!--Шапка сайта-->

<div class="content-container-header-top">
  <div class="header-top">
    <nav class="header-top-left">
      <img src="/assets/Logo-header.svg" />
      <a href="">{{ headerItem1 }}</a>
      <a href="" routerLink="/">{{ aboutCompany }}</a>
      <a href="">{{ headerItem3 }}</a>
    </nav>
    <div class="button-position">
      <button class="changeMenuText-buttons" routerLink="users">Users</button>
    </div>
    <div class="header-top-right">
      <div class="call-number">
        <img src="/assets/Phone.svg" />
        <a class="phones" href="tel:+74951234567">+7 (495) 123-45-67</a>
      </div>
      <img
        class="favorite-logo-header"
        src="/assets/Favorite-logo.svg"
        alt="логотоп избранного"
      />
      <div class="basket-field">
        <mat-icon basket>shopping_cart</mat-icon>
        <p class="basket-field-text">Пусто</p>
      </div>
    </div>
  </div>
</div>
<div class="content-container-header-bottom">
  <div class="header-bottom">
    <div class="header-bottom-left">
      <div class="catalog">
        <img src="/assets/logo-catalog.svg" />
        <div>Каталог</div>
      </div>
      <nav class="assortment">
        <div>Стройматериалы</div>
        <div>Инструменты</div>
        <div>Электрика</div>
        <div>Интерьер и одежда</div>
      </nav>
    </div>
    <div class="header-bottom-right">
      <div class="search-field">
        <input
          class="placeholder"
          type="text"
          placeholder="Поиск, например Круг зачистной"
        />
        <img class="search-logo" src="/assets/search-logo.svg" />
      </div>
      <div class="map-location">
        <img src="/assets/map-pin.svg" />
        <span class="city-map">Москва</span>
      </div>
    </div>
  </div>
</div>